.button {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #444444;
  text-decoration: none;
  background: hwb(0 100% 0%);
  mix-blend-mode: normal;
  border: 2px solid #444444;
  display: block;
  box-sizing: border-box;

  &--first {
    padding: 16px 20px;
    width: 260px;
    justify-self: end;
  }

  &--first-narrow {
    padding: 16px 20px;
    width: 192px;
    margin: 0 auto;
  }

  &--second {
    padding: 18px 20px;
    width: 260px;
    background: hwb(168 39% 18%);
    font-weight: 700;
    font-size: 17px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: hwb(0 100% 0%);
    mix-blend-mode: normal;
    border: none;
  }

  &--modal {
    width: 82px;
    padding: 18px 22px;
    background: hwb(0 100% 0%);
    mix-blend-mode: normal;
    border: 2px solid hwb(0 27% 73% / 0.1);
  }
}
