.card__image {
  display: block;
}

.card__content-wrapper {
  border: 1px solid hwb(0 93% 7%);
  padding: 28px;
}

.card__title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
  padding-bottom: 5px;
}

.card__description {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 30px;
  color: #444444;
  mix-blend-mode: normal;
  padding-bottom: 18px;
}

.card__price-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 23px;
}

.card__price {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  color: #000000;
  mix-blend-mode: normal;
}

@media (min-width: @tablet-width) {
  .card__image {
    grid-area: A;
  }

  .card__content-wrapper {
    display: flex;
    flex-direction: column;
    grid-area: B;
  }

  .card__title {
    font-weight: 700;
    font-size: @table-title-2;
    line-height: 24px;
  }

  .card__description {
    font-weight: 400;
    font-size: @table-menu-font;
    line-height: 30px;
  }

  .card__price {
    font-size: @table-title-3;
  }
}
