.content__link {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: hwb(0 100% 0%);
  text-decoration: none;
  display: flex;
  align-items: center;
}

.content__title {
  margin: 0;
  padding: 24px 20px 31px 30px;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;

  &:hover {
    position: relative;
    top: -5px;
  }
}

.content__image-wrapper {
  padding: 21px 20px 22px 90px;
  width: 60px;
  height: 60px;

  &:hover {
    position: relative;
    top: -5px;
  }
}

.content__image {
  fill: #149080;
  opacity: 0.5;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .content {
    .tablet-width-center();
    display: grid;
    grid-template-columns: repeat(2, 334px);
    padding-top: 297px;
  }

  .content__item {
    grid-column: 1/2;

    &--two {
      grid-column: 2/3;
    }
  }

  .content__title {
    font-weight: 700;
    font-size: @table-title-2;
    line-height: 30px;
    padding: 24px 20px 31px 36px;
  }

  .content__image-wrapper {
    padding: 21px 20px 22px 90px;
  }
}

@media (min-width: @desktop-width) {
  .content {
    .desktop-width-center();
    grid-template-columns: repeat(6, 1fr);
    padding-top: 260px;
  }

  .content__item {
    grid-column: 1/4;

    &--two {
      grid-column: 4/8;
    }
  }

  .content__image-wrapper {
    padding: 21px 20px 22px 280px;
  }
}
