.copyright {
  text-align: center;
}

.copyright__text {
  font-weight: 700;
  font-size: 19px;
  line-height: 18px;
  color: #000000;
}

.copyright__image {
  padding-left: 27px;
  fill: hwb(168 39% 18%);

  &:hover {
    fill: hwb(171 27% 24%);
  }

  &:active {
    fill: hwb(171 27% 24%);
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .copyright {
    display: flex;
    align-items: center;
  }
}
