.form__wrapper {
  .mobile-width-center();
  padding-top: 0;
  margin-bottom: 28px;
  margin-top: 17px;

  &--color {
    margin-bottom: 44px;
    margin-top: 17px;
  }

  &--name {
    margin-bottom: 12px;
  }

  &--phone {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  &--more {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.form__description {
  .form-description-first();
  margin: 0;

  & br {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .form__wrapper {
    .tablet-width-center();
    margin-top: 65px;
    margin-bottom: 14px;

    &--title {
      margin-top: 65px;
      margin-bottom: 14px;
    }

    &--type {
      margin-top: 80px;
      margin-bottom: 67px;
    }

    &--color {
      padding-top: 66px;
      padding-bottom: 10px;
      margin: 0 auto;
    }

    &--name {
      margin-top: 42px;
      margin-bottom: 28px;
    }

    &--phone {
      padding-top: 45px;
      padding-bottom: 0;
      margin: 0 auto;
    }

    &--more {
      margin-top: 82px;
      margin-bottom: 34px;
    }
  }

  .form__description {
    .form-description-second();
    margin: 0;
  }
}

@media (min-width: @desktop-width) {
  .form__wrapper {
    .desktop-width-center();
    padding-top: 0;
    padding-bottom: 0;

    &--title {
      margin-top: 118px;
      margin-bottom: 14px;
    }

    &--type {
      margin-top: 80px;
      margin-bottom: 63px;
    }

    &--color {
      padding-top: 69px;
      padding-bottom: 9px;
      margin: 0 auto;
    }

    &--name {
      margin-top: 46px;
      margin-bottom: 32px;
    }

    &--phone {
      padding-top: 45px;
      padding-bottom: 35px;
      margin: 0 auto;
    }

    &--more {
      margin-top: 49px;
      margin-bottom: 29px;
    }
  }


  .form__description {
    padding-left: 175px;
    padding-right: 30px;

    & br {
      display: block;
    }
  }
}
