.hero__background {
  margin: 0;
  padding: 0;
  position: relative;
  background-image: url("../img/hero-mobile@2x.jpg");
  background-color: #756157;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  min-height: 373px;
}

.hero__title {
  margin: 0;
  padding: 0;
  position: absolute;
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  color: #000000;
  left: 30px;
  top: 152px;
}

.hero__list {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  list-style-type: none;
  color: #ffffff;
  mix-blend-mode: normal;
}

.hero__item {
  background-color: hsl(168, 54%, 60%);
  mix-blend-mode: normal;
  min-height: 103px;

  &--darken {
    background: hsl(171, 47%, 55%);
    mix-blend-mode: normal;
  }
}

@media (min-width: @tablet-width) {
  .hero {
    width: 668px;
  }

  .hero__background {
    background-image: url("../img/hero-tablet.jpg");
  }

  .hero__title {
    font-weight: 700;
    font-size: @table-title;
    line-height: 50px;
  }
}

@media (min-width: @desktop-width) {
  .hero {
    width: 1050px;
  }

  .hero__background {
    background-image: url("../img/hero-desktop.jpg");
  }

  .hero__title {
    font-weight: 700;
    font-size: 53px;
    line-height: 57px;
  }
}
