.main-nav {

}

.main-nav__toggle {
  position: absolute;
  cursor: pointer;
  border: none;
  left: 269px;
  top: 32px;
  background: transparent;
}

.main-nav__wrapper {

}
.main-nav__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


