.main-header {
  background-color: hsl(0, 0%, 100%);
  padding: 0;
  font-family: "Opensans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  position: relative;
}

.main-header__logo {
  display: flex;
  justify-content: center;
}

.main-header__note {
  display: none;
}

.main-header__logo-image {
  padding: 22px;
}

@media (min-width: @tablet-width) {
  .main-header__logo {
    height: 79px;
    margin: 0 auto;
    grid-area: A;
    align-items: center;
    justify-self: start;
  }

  .main-header__note {
    display: block;
    grid-area: D;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    text-align: right;
    color: #444444;
  }
}
