.main-footer {
  background: hwb(0 95% 5%);
  mix-blend-mode: normal;
}

.main-footer__wrapper {
  .mobile-width-center();
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 32px;
}

.main-footer__social {
  padding-bottom: 28px;
}

.main-footer__copyright {
  padding-top: 18px;
}

.main-footer__logo {
  display: none;
}

@media (min-width: @tablet-width) {
  .main-footer__wrapper {
    .tablet-width-center();
    padding: 46px 50px 58px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .main-footer__social {
    padding-bottom: 0;
  }

  .main-footer__copyright {
    padding-top: 0;
  }

  .main-footer__logo {
    display: block;
    fill: hwb(345 12% 86%);

    &:hover {
      fill: hwb(171 27% 24%);
    }

    &:active {
      fill: hwb(171 27% 24%);
      opacity: 0.3;
    }
  }
}

@media (min-width: @desktop-width) {
  .main-footer__wrapper {
    .desktop-width-center();
    padding: 46px 50px 58px;
  }
}
