.page {
  background-color: #ffffff;
  width: 320px;
  margin: 0 auto;
}

.page__body {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  margin: 0 auto;
  color: hsl(0, 0%, 0%);
}

@media (min-width: @tablet-width) {
  .page {
    width: 768px;
    margin: 0 auto;
  }

  .page__body {
    width: 668px;
    margin: 0 auto;
  }
}
