.user-nav {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  padding-left: 0;
  list-style: none;
  .nav-first();
}

.user-nav__link {
  position: relative;
  display: block;
  padding: 27px 30px 27px 74px;
  border-bottom: 1px solid #ececec;
  color: hwb(0 0% 100%);
  text-decoration: none;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .user-nav {
    .nav-first();
    display: flex;
    grid-area: B;
    align-self: center;
    justify-content: end;
  }

  .user-nav__item {
    padding-top: 32px;
    padding-bottom: 32px;
    border-left: 1px solid #ececec;
  }

  .user-nav__link {
    padding: 0;
    border-bottom: none;
  }
}

@media (min-width: @desktop-width) {
  .user-nav {
    width: 350px;
  }
}
