.user-nav {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  padding-left: 0;
  list-style: none;
  .nav-first();
}

.user-nav__link {
  position: relative;
  display: block;
  padding: 27px 30px 27px 74px;
  color: hwb(0 0% 100%);
  text-decoration: none;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.user-nav__icon {
  position: absolute;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
  fill: hwb(0 0% 100% / 0.2);
}

@media (min-width: @tablet-width) {
  .user-nav {
    .nav-first();
    display: flex;
    grid-area: B;
    align-self: center;
    justify-content: end;
  }

  .user-nav__item {
    border-left: 1px solid #ececec;
    padding: 32px;
    padding-right: 0;
  }

  .user-nav__link {
    padding: 0;
    border-bottom: none;
  }

  .user-nav__search {
    display: none;
  }

  .user-nav__icon {
    position: inherit;
    top: 13px;
    left: 0;
    padding-right: 30px;
  }
}

@media (min-width: @desktop-width) {
  .user-nav {
    width: 350px;
  }
}
