.wrapper {
  padding-left: 30px;
  padding-right: 30px;
  &--feature {
    padding-top: 31px;
    padding-bottom: 36px;
  }

  &--about-us {
    padding-top:31px;
    padding-bottom: 58px;
  }

  &--reviews {
    padding-bottom: 45px;
  }

  &--contacts {
    padding-top: 35px;
    padding-bottom: 62px;
  }

  &--contacts-button {
    padding-top: 42px;
    padding-bottom: 39px;
  }

  &--footer {
    padding-top: 25px;
    padding-bottom: 32px;
  }

  &--social {
    padding-bottom: 28px;
  }

  &--copyright {
    padding-top: 29px;

  }

  // Catalog

  &--main-inner-title {
    min-height: 177px;
    background: #F1F1F1;
  }

  &--catalog {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  &--card-content {
    border: 1px solid #ECECEC;
    padding: 28px;
  }

  &--price {
    display: flex;
    justify-content: space-between;
    padding-top: 23px;
  }

  &--video {
    border: 1px solid #ECECEC;
    padding-top: 22px;
    padding-bottom: 33px;
    margin-bottom: 58px;
  }

  &--filter {
    padding-bottom: 55px;
  }

  &--container {
    padding: 28px 30px 46px;
  }
}

