.wrapper {
  &--feature {
    padding-top: 31px;
    padding-bottom: 36px;
    width: 260px;
    margin: 0 auto;
  }

  &--about-us {
    padding-top: 31px;
    padding-bottom: 58px;
    width: 260px;
    margin: 0 auto;
  }

  &--reviews {
    padding-bottom: 45px;
    width: 260px;
    margin: 0 auto;
  }

  &--contacts {
    padding-top: 35px;
    padding-bottom: 62px;
    width: 260px;
    margin: 0 auto;
  }

  &--contacts-button {
    padding-top: 42px;
    padding-bottom: 39px;
    width: 260px;
    margin: 0 auto;
  }

  &--footer {
    padding-top: 25px;
    padding-bottom: 32px;
    width: 260px;
    margin: 0 auto;
  }

  &--social {
    padding-bottom: 28px;
  }

  &--copyright {
    padding-top: 29px;
  }

  // Catalog

  &--header {
    width: 320px;
    margin: 0 auto;
  }

  &--main-inner-title {
    padding-left: 0;
    padding-right: 0;
    min-height: 177px;
    background: hwb(0 95% 5%);
  }

  &--hero {
    margin: 0 auto;
  }

  &--catalog {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 260px;
    margin: 0 auto;
  }

  &--card-content {
    border: 1px solid hwb(0 93% 7%);
    padding: 28px;
  }

  &--price {
    display: flex;
    justify-content: space-between;
    padding-top: 23px;
  }

  &--video {
    border: 1px solid hwb(0 93% 7%);
    width: 260px;
    margin: 0 auto;
    padding-top: 22px;
    padding-bottom: 33px;
    margin-bottom: 58px;
  }
  //form

  &--filter {
    padding-bottom: 55px;
    width: 260px;
    margin: 0 auto;
  }

  &--container {
    padding: 28px 30px 46px;
  }
}

@media (min-width: @tablet-width) {
  .wrapper {
    &--header {
      width: 772px;
      margin: 0 auto;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      justify-content: space-between;
      grid-template-areas:
        "A . B B"
        "C C D D";
    }

    &--feature {
      padding-right: 0;
      padding-left: 0;
      width: 668px;
      margin: 0 auto;
      display: grid;
      grid-template-areas:
        "A A A C"
        "B B D D"
        "G . D D"
        "E E D D"
        "W W D D";
    }

    &--about-us {
      padding-right: 0;
      padding-left: 0;
      width: 668px;
      margin: 0 auto;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
    }

    &--reviews {
      padding-right: 0;
      padding-left: 0;
      width: 668px;
      margin: 0 auto;
      display: grid;
      grid-template-areas:
        "A . . B"
        "D D D D"
        "C C . E";
    }

    &--contacts {
      padding-right: 0;
      padding-left: 0;
      width: 668px;
      margin: 0 auto;
      display: grid;
      grid-template-areas:
        "T . . I"
        "L L D D";
    }

    &--contacts-button {
      display: flex;
      justify-content: center;
    }

    &--footer {
      padding-left: 50px;
      padding-right: 50px;
      width: 668px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
    }

    &--social {
      padding: 0;
    }

    &--copyright {
      padding: 0;
    }

    &--hero {
      width: 100%;
      margin: 0 auto;
    }

    &--catalog {
      width: 668px;
      margin: 0 auto;
    }

    &--card-content {
      display: flex;
      flex-direction: column;
      grid-area: B;
    }

    &--video {
      width: 668px;
      margin: 0 auto;
      display: grid;
      grid-template-areas:
        "I I I I"
        "T T . ."
        "D D D D"
        "B B B B";
    }

    &--filter {
      padding-right: 0;
      padding-left: 0;
      width: 100%;
    }
  }
}

@media (min-width: @desktop-width) {
  .wrapper {
    &--header {

      display: grid;
      grid-template-columns: repeat(6, 1fr);
      width: 1050px;
      justify-content: space-between;
      grid-template-areas:
        "C C A A B B"
        "C C . . D D";
    }

    &--feature {
      padding-right: 0;
      padding-left: 0;
      width: 1050px;
      display: grid;
      grid-template-columns: repeat(6, 175px);
      grid-template-areas:
        "C A A A . ."
        ". B B D D D"
        ". G G D D D"
        ". E E D D D"
        ". W W D D D";
    }

    &--about-us {
      padding-right: 0;
      padding-left: 0;
      width: 1050px;
      display: grid;
      grid-template-columns: repeat(6, 175px);
    }

    &--reviews {
      padding-right: 0;
      padding-left: 0;
      width: 1050px;
      display: grid;
      grid-template-columns: repeat(6, 175px);
      grid-template-areas:
        ". A . . B B"
        ". D D D D D"
        ". C C . E E";
    }

    &--container {
      width: 1050px;
      margin: 0 auto;
      padding: 0;
      display: grid;
      grid-template-columns: repeat(6, 175px);
      grid-template-areas:
        "I W W M M M"
        ". W W M M M"
        ". B B M M M";
    }

    &--contacts {
      width: 290px;
      padding-right: 0;
      padding-left: 0;
      display: grid;
      grid-area: W;
      grid-template-areas:
        "T T"
        "L L"
        "D D";
    }

    &--contacts-button {
      grid-area: B;
      justify-content: flex-start;
      padding-right: 0;
      padding-left: 0;
    }

    &--footer {
      width: 1050px;
      padding-left: 50px;
      padding-right: 50px;
      display: flex;
      justify-content: space-between;
    }

    &--hero {
      width: 1150px;
    }

    &--catalog {
      width: 1050px;
    }

    &--video {
      width: 1050px;
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-template-areas:
        "I I I I T T"
        "I I I I T T"
        "I I I I D D"
        "I I I I B B";
    }

    &--filter {
      padding-right: 0;
      padding-left: 0;
      width: 100%;
    }
  }
}
