.page {
  background-color: #ffffff;
  width: 320px;
  margin: 0 auto;
}
.page__body {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  margin: 0 auto;
  color: hsl(0, 0%, 0%);
}
.main-header {
  background-color: hsl(0, 0%, 100%);
  padding: 0;
  font-family: "Opensans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  position: relative;
}
.main-header__logo-image {
  padding: 22px 117px;
}
.main-nav__toggle {
  position: absolute;
  cursor: pointer;
  border: none;
  left: 269px;
  top: 32px;
  background: transparent;
}
.main-nav__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.site-list__item {
  box-sizing: border-box;
  padding: 29px 30px 27px 75px;
  background: #FFFFFF;
  mix-blend-mode: normal;
  box-shadow: 0 1px 0 hsl(0, 0%, 93%), inset 0 1px 0 hsl(0, 0%, 93%);
}
.site-list__link {
  text-decoration: none;
  color: #000000;
}
.user-list__item {
  box-sizing: border-box;
  padding: 29px 30px 27px 75px;
  background: hsl(0, 0%, 100%);
  mix-blend-mode: normal;
  box-shadow: 0 1px 0 hsl(0, 0%, 93%), inset 0 1px 0 hsl(0, 0%, 93%);
}
.user-list__link {
  text-decoration: none;
  color: #000000;
}
.hero__background {
  margin: 0;
  padding: 0;
  position: relative;
  background-image: url(../../img/hero-mobile@2x.jpg);
  background-color: #756157;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  min-height: 373px;
}
.hero__title {
  margin: 0;
  padding: 0;
  position: absolute;
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  color: #000000;
  left: 30px;
  top: 152px;
}
.hero__list {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  list-style-type: none;
  color: #ffffff;
  mix-blend-mode: normal;
}
.hero__item {
  background-color: hsl(168, 54%, 60%);
  mix-blend-mode: normal;
  min-height: 103px;
}
.hero__item--darken {
  background: hsl(171, 47%, 55%);
  mix-blend-mode: normal;
}
.content__item {
  position: relative;
}
.content__title {
  margin: 0;
  padding: 24px 160px 21px 30px;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
}
.content__image {
  position: absolute;
  left: 77%;
  top: 20%;
}
.feature {
  margin: 0;
  padding: 0;
}
.feature__title {
  margin: 0;
  padding: 0;
  padding-bottom: 4px;
  text-align: left;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
}
.feature__product-of-week {
  display: block;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  color: hsl(168, 54%, 60%);
  padding-bottom: 17px;
}
.feature__description {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #444444;
  padding-bottom: 28px;
}
.feature__list {
  display: grid;
  grid-template-columns: auto 162px;
  row-gap: 20px;
  margin: 0;
  padding-bottom: 28px;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #444444;
  border-bottom: 1px solid #ECECEC;
}
.feature__name {
  margin: 0;
  padding: 0;
}
.feature__value {
  margin: 0;
  padding: 0;
  justify-self: start;
}
.feature__img {
  display: block;
}
.feature__price {
  display: block;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #444444;
}
.about-us {
  margin: 0;
  padding: 0;
}
.about-us__title {
  margin: 0;
  padding: 0;
  text-align: center;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  padding-bottom: 28px;
}
.about-us__list {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  list-style-type: none;
}
.about-us__item {
  padding-bottom: 30px;
}
.about-us__item:last-child {
  padding-bottom: 0;
}
.about-us__icon {
  padding-bottom: 16px;
}
.about-us__description {
  margin: 0;
  padding: 0;
}
.reviews {
  margin: 0;
  padding: 0;
}
.reviews__title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #000000;
  text-align: center;
}
.reviews__list {
  margin: 0;
  padding: 0;
}
.reviews__item {
  display: block;
  margin: 0;
  padding: 0;
  padding-bottom: 30px;
}
.reviews__text {
  margin: 0;
  padding: 0;
  min-width: 260px;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  color: #444444;
  padding-bottom: 18px;
}
.reviews__author-name {
  font-weight: 700;
  font-style: normal;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
}
.reviews__author-email {
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
  color: #444444;
}
.reviews__button-wrapper {
  display: flex;
  padding-bottom: 38px;
}
.contacts__title {
  margin: 0;
  padding: 0;
  padding-bottom: 28px;
  text-align: center;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #000000;
}
.contacts__list {
  display: grid;
  grid-template-columns: auto 183px;
  row-gap: 43px;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #444444;
}
.contacts__description {
  margin: 0;
  padding: 0;
}
.main-footer {
  background: #F1F1F1;
  mix-blend-mode: normal;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.button {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #444444;
  text-decoration: none;
  background: hwb(0 100% 0%);
  mix-blend-mode: normal;
  border: 2px solid #444444;
  display: block;
  box-sizing: border-box;
}
.button--first {
  padding: 16px 20px;
  width: 260px;
}
.button--first-narrow {
  padding: 16px 20px;
  width: 192px;
  margin: 0 auto;
}
.button--second {
  padding: 18px 20px;
  width: 260px;
  background: hwb(168 39% 18%);
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: hwb(0 100% 0%);
  mix-blend-mode: normal;
  border: none;
}
.button--modal {
  width: 82px;
  padding: 18px 22px;
  background: hwb(0 100% 0%);
  mix-blend-mode: normal;
  border: 2px solid hwb(0 27% 73% / 0.1);
}
.wrapper {
  padding-left: 30px;
  padding-right: 30px;
}
.wrapper--feature {
  padding-top: 31px;
  padding-bottom: 36px;
}
.wrapper--about-us {
  padding-top: 31px;
  padding-bottom: 58px;
}
.wrapper--reviews {
  padding-bottom: 45px;
}
.wrapper--contacts {
  padding-top: 35px;
  padding-bottom: 62px;
}
.wrapper--contacts-button {
  padding-top: 42px;
  padding-bottom: 39px;
}
.wrapper--footer {
  padding-top: 25px;
  padding-bottom: 32px;
}
.wrapper--social {
  padding-bottom: 28px;
}
.wrapper--copyright {
  padding-top: 29px;
}
.wrapper--main-inner-title {
  min-height: 177px;
  background: #F1F1F1;
}
.wrapper--catalog {
  padding-top: 30px;
  padding-bottom: 30px;
}
.wrapper--card-content {
  border: 1px solid #ECECEC;
  padding: 28px;
}
.wrapper--price {
  display: flex;
  justify-content: space-between;
  padding-top: 23px;
}
.wrapper--video {
  border: 1px solid #ECECEC;
  padding-top: 22px;
  padding-bottom: 33px;
  margin-bottom: 58px;
}
.wrapper--filter {
  padding-bottom: 55px;
}
.wrapper--container {
  padding: 28px 30px 46px;
}
.social__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.social__link {
  text-decoration: none;
}
.copyright {
  text-align: center;
}
.copyright__text {
  font-weight: 700;
  font-size: 19px;
  line-height: 18px;
  color: #000000;
}
.copyright__image {
  padding-left: 27px;
}
.inner-main__title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
  color: #000000;
  mix-blend-mode: normal;
  padding-top: 74px;
}
.inner-main__description {
  margin: 0;
  padding: 17px 30px 37px 30px;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: #444444;
  mix-blend-mode: normal;
}
.catalog__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.catalog__item {
  padding-bottom: 30px;
}
.catalog__item:last-child {
  padding-bottom: 0;
}
.card__image {
  display: block;
}
.card__title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
  padding-bottom: 5px;
}
.card__description {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 30px;
  color: #444444;
  mix-blend-mode: normal;
  padding-bottom: 18px;
}
.card__price {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  color: #000000;
  mix-blend-mode: normal;
}
.video__container {
  display: flex;
  padding-right: 34px;
  padding-left: 30px;
  padding-bottom: 27px;
}
.video__content {
  margin-right: auto;
}
.video__title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
  mix-blend-mode: normal;
}
.video__description {
  margin: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: #444444;
  mix-blend-mode: normal;
  padding: 35px 30px 43px 34px;
}
.filter__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}
.filter__legend {
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
  color: #63D1BB;
  mix-blend-mode: normal;
  padding-bottom: 30px;
}
.filter__legend--second {
  padding-bottom: 5px;
}
.filter__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: #000000;
  mix-blend-mode: normal;
}
.filter__list:last-child {
  padding-bottom: 0;
}
.filter__item {
  padding-bottom: 24px;
}
.filter__label {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: #000000;
  mix-blend-mode: normal;
}
.filter__input {
  margin: 0;
  width: 260px;
  padding: 17px 5px;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  color: #000000;
  opacity: 0.3;
  border: none;
  box-sizing: border-box;
  background: #FFFFFF;
  mix-blend-mode: normal;
  box-shadow: inset 0 -2px 0 #000000;
}
.filter__input--large {
  min-height: 142px;
  border: 2px solid #444444;
  box-shadow: inset 0px -2px 0px #000000;
}
.filter__note {
  display: block;
  padding-top: 17px;
  padding-bottom: 30px;
}
.modal-container {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: hwb(0 100% 0%/0.9);
  mix-blend-mode: normal;
}
.modal-container--close {
  display: none;
}
.modal-container__inner {
  width: 320px;
  background: hwb(0 100% 0%);
  mix-blend-mode: normal;
  border: 1px solid hwb(0 78% 22%);
  box-shadow: 0 5px 10px rgba(0, 1, 1, 0.25);
}
.modal-container__title {
  margin: 0;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  padding-bottom: 14px;
}
.modal-container__size-check {
  margin: 0;
  display: block;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  text-align: center;
  color: #444444;
  mix-blend-mode: normal;
}
.modal-container__list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-bottom: 31px;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff2") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
/*# sourceMappingURL=style.css.map */
